<!DOCTYPE html>

<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="media/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" href="media/jquery-ui.css">
    <script src="media/base.js"></script>
    <script src="media/jquery-ui.js"></script>
    <script src="media/popper.min.js"></script>
    <script src="media/bootstrap.min.js"></script>
    <link rel="stylesheet" href="media/bootstrap.min.css">
    <link rel="stylesheet" href="media/style.css">
</head>

<body>

<a href="?act=mycab">Мой кабинет</a>&nbsp;|&nbsp;<a href="?act=logout">Выход</a>&nbsp;|&nbsp;
    <a href="?act=index&amp;archived=1">Архив</a>
<?php if( $user_info['type_user'] == 1 ){ ?>
    &nbsp;|&nbsp;<a href="?act=users">Пользователи</a>
<?php } ?>
<?php if( in_array($user_info['type_user'], array(1,2)) ){ ?>
    &nbsp;|&nbsp;<span class='click' onclick="showForm()">Добавить заказ</span>
<?php } ?>
<?php if( (isset($_GET['act']) && $_GET['act'] != 'index') || (isset($_GET['archived']) && $_GET['archived'] == 1)  ){ ?>
    &nbsp;|&nbsp;<a href="?act=index">Главная</a>
<?php } ?>
<br><br>


<div id="form-modal" title="Заявка на монтаж"></div>
